body {
  font-family: "Genos" , sans-serif;
  background-color: rgb(255, 238, 238);
  margin: 0;
}
header {
  display: flex;
  flex-direction: column;
  min-height: 70px;
  background-image: linear-gradient(10deg, #000020, 85%, #0000ff);
  justify-content: space-between;
  align-items: center;
}
.img-logo {
  width: 150px;
  height: 60px;
  margin: 5px;
}
a {
  text-decoration: none;
}
nav a {
  color: blue;
}
nav {
  margin-right: 10px;
}
nav a:hover {
  color: red;
}
.btn-dest {
  background-color: #0004f8;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.btn-dest:hover {
  color: red;
}
footer {
  background-color: rgb(190, 190, 253);
  text-align: center;
  padding: 10px;
}
@media (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
  }
  nav {
    padding: 10px 0px;
  }
}
